<div>
        <div class="page-header">
        <h1>Your Smarty Kid Party has been booked!</h1>
        <p>Thank you for booking a Smarty Kid Party! We can't wait to celebrate with you!</p>

        <div class="event-container" ng-repeat="event in vm.events">
            <div class=""><span class="colored-name" ng-bind="event.hostName"></span> is hosting a Smarty Kid Party for <span class="colored-name" ng-bind="event.childName"></span></div>
            <div>Party Details:</div>
                <div class="event-details">Child Age: <span ng-bind="event.childAge"></span></div>
                <div class="event-details">Number of Kids: <span ng-bind="event.numberOfKids"></span></div>
                <div class="event-details">Location: <span ng-bind="event.location"></span></div>
                <div class="event-details">Email: <span ng-bind="event.email"></span></div>
                <div class="event-details">Party Date: <span ng-bind="event.eventDate"></span> Start Time: <span ng-bind="event.startTime"></span></div>
            <div>Special Notes: <span ng-bind="event.message"></span></div>
        </div>
    </div>
    </div>