<section>
      <div class="text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="Smarty Kid Party" class="img-responsive text-center" src="modules/core/client/img/brand/smartyKidPartyLogo.jpg" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead" style="color: #ffcc00">Educational Entertainment for Kids</p>
    </div>
  </div>
  <div>
    <h2 class="center-text" style="color: #00b33c">Parties, Playgroups, and other FUN kids events!</h2>
    <p class="center-text">Smarty Kid Party is where kids and parents both win! Get ready for a fun hour of trendy learning experiences for your little ones!</p>

  </div>
  <div class="row">
    <div class="col-md-3 center-text">
      <h2 class="dashboard-h2">Excitement</h2>
      <p class="row">One hour events designed to entertain your little ones</p>
      <img alt="Smarty Kid Party" class="img-responsive text-center dashboard-img" src="modules/core/client/img/brand/happyKids.jpg" />
    </div>
    <div class="col-md-3 center-text">
      <h2 class="dashboard-h2">Entertainment</h2>
      <p class="row">$125 for set-up, activities, and prizes</p></br>
      <img alt="Smarty Kid Party" class="img-responsive text-center dashboard-img" src="modules/core/client/img/brand/blocks.jpg" />
    </div>
    <div class="col-md-3 center-text">
      <h2 class="dashboard-h2">Education</h2>
      <p class="row">Music and games promoting all areas of development</p>
      <img alt="Smarty Kid Party" class="img-responsive text-center dashboard-img" src="modules/core/client/img/brand/letters.jpg" />
    </div>
    <div class="col-md-3 center-text">
      <h2 class="dashboard-h2">Experience</h2>
      <p class="row">M.Ed instructor with experience with kids with special needs</p>
      <img alt="Smarty Kid Party" class="img-responsive text-center dashboard-img" src="modules/core/client/img/brand/teaching.jpg" />
    </div>
  </div>
</section>